.single-card-property {
    padding: 0 10px;

}
.slick-list {
    margin: 0 -10px;
}

/* .card-img-top {
    filter: brightness(0.7) !important
} */
/* .single-card:hover {
    transform: scale(1.0005);
    transition-duration: 1s;
    overflow: hidden;
} */

.property-type-cart-text{
    margin: 0;
}
.property-types .card-body {
    padding: 0;
    margin: 0;
} 
 
.property-types .slick-slider button {
    display: none !important;
}