.single-card {
    padding: 0 10px;

}

.slick-list {
    margin: 0 -10px;
}

.explore-hotel .slick-prev{
            z-index: 5;
            width: 40px;
            height:45px;
            padding: 10px;
            border: 2px;
            border-radius: 5px;
            background-color: white;
            left: 20px;
            top: 40%;
            display: flex !important; 
            justify-content: center;
            align-items: center;
}

.exp-hotel-cart-text {
    position: absolute;
    width: 100%;
}

.exp-hotel-cart-text .card-body {
    position: relative; 
    top: 150px;
    left: -5px;
    color: white;
}

.card-img-top {
filter: brightness(0.7) !important
}


.explore-hotel .slick-next {
    z-index: 5;
    width: 40px;
    height: 45px;
    right: 20px;
    top: 120px;
    padding: 10px;
    border: 2px;
    background-color: white;
    border-radius: 5px;
    color: gray;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

 /* .explore-hotel>.slick-next:hover {
    background-color: tomato;
} */



.slick-prev:before {
    color: gray;
    font-size: 25px;
}
.slick-next:before {
    color: gray;
    font-size: 25px;
}

.single-card:hover {
transform: scale(1.1);
transition-duration: 1s;
overflow: hidden;
}

.card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}