
.img-wrapper {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 300px;
    /* background-image: url('../../Assets/Images/dubai.jpg'); */
    background-color: hwb(231 0% 56% / 0.753);
    background-image: linear-gradient(to bottom, #002c7185 0%, #002c7185), url('../../Assets/Images/dubai.jpg');
}

.gallary-img-text {
    position: absolute;
    top: 10%;
    left: 15%;
    color: white;
   

}
.explore {
    display: flex;
    align-items: center;
    
}
.gallary-img-text a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.img-color-set {
    height: 100%;
    width: 100%;
    background-color: red;
}

.img-gallary {
    /* background-image: ; */
    background-position: top;
    background-size: cover;
background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.836) 0%, rgba(248, 244, 244, 0.973) 550%), url('../../Assets/Images/gallary-bg.jpg');
}

.explore:hover a{
    color: tomato;
}
.explore:hover {
    color: tomato;
}