.carousel-section .container {
    /* text-align: center; */
    margin: 0 auto;
    text-align: center;
}

.carousel-section .carousel-img-wrapper {
    /* position: relative; */
    border: 10px solid tomato;
    height: 330px;
    overflow: visible;
    z-index: -5;
    width: 76% !important;
    margin: auto;
}

.carousel-section .carousel-img {
    /* position: absolute; */
    margin-left: -150px;
    z-index: 5;
    height: 200px;
    margin-top: 45px;
    overflow: visible;

}

.carousel-section .carousel-text {
    margin-top: -200px;
    /* width: 80%; */
    position: relative;

}

.carousel-section .carousel-text p {
    position: absolute;
    left: 300px;
    top: 0;
    text-align: left;
    /* line-height: 30px;
    word-spacing: 5px; */
}

.carousel-section .quote {
    background-color: tomato;
    width: 50px;
    margin-left: 200px;
    position: relative;


}

.carousel-section .quote .quote-icon {
    /* width: 100%; */
    color: tomato;
    font-size: 60px;
    display: block;
    /* height: 100%; */
    position: absolute;
    top: -200px;


}
.slick-arrow {
    display: none;
}
.carousel-section .icons {
    margin-left: 500px;
    margin-top: 200px;
    color: gold;

}

.carousel-section .sayara {
    margin-left: 60px;
    font-size: 20px;
    margin-top: -5px;
}

.carousel-section .slick-prev {
    z-index: 22;
    top: 35%;
    left: 86%;
}

.carousel-section .slick-next {
    top: 55%;
    z-index: 10;
    left: 86%;
}

.carousel-section .slick-next,
.carousel-section .slick-prev {
    background: tomato !important;
    width: 50px;
    height: 50px;
    transform: translate(0, -50%);
    color: transparent;
    border-radius: 50%;
    font-size: 55px;
    position: absolute;
}
/* .slick-prev:before,
.slick-next:before {
    font-size: 30px;
    color: white;
} */

@media screen and (max-width: 1000px) {

.carousel-section .container {
        margin: 0;
        text-align: center;
    }

 .carousel-section .carousel-img-wrapper {
        border: 10px solid tomato;
        height: auto;
        width: 100%;
        margin: auto;
    }

 .carousel-section .carousel-img {
        /* position: fixed; */
        margin-left: 0px;
        height: auto;
        width: 100%;
        margin-top: 45px;
        overflow: visible;
    }
 .carousel-section .carousel-text {
        margin-top: 0px;
        /* width: 20%; */
        min-height: 300px;

    }

  .carousel-section  .carousel-text p {
        left: 0px;
        top: 30px;
        text-align: left;
    }
 .carousel-section .quote {
        display: none;
    }

 .carousel-section .icons {
        display: none;
    }

  .carousel-section .sayara {
        margin-left: 60px;
        font-size: 20px;
        margin-top: -5px;
    }
          .carousel-section .slick-prev {
              z-index: 22;
              top: 100%;
              left: 46%;
          }
    
          .carousel-section .slick-next {
              top: 100%;
              z-index: 10;
              left: 65%;
          }
           
}
 