.btn-wrapper .top-trip-btn {
    
    text-decoration: none;
    color: black;
    background-color: white;
    outline: 2px solid tomato;
    display: block;
    width: 45%;
    padding: 4px 6px 6px 13px;
    border-radius: 5%;
    font-size: 13px;
    font-weight: bold;


}

.top-trip-btn:hover{
    background-color: rgba(255, 99, 71, 0.801);
}