.news-letter-section {
    margin: 100px 0;
}

.news-letter-container {
    background-color: #002046;
    height: 272px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 30px;
    width: 100%;
}

.news-letter-title {
    color: white;
    font-size: 1.5rem;
}

.subscribe-container {
    max-width: 100%;
    height: 80px;
    border: 2px solid #F05A46;
    border-radius: 999px;
    padding: 5px;
}

.subscribe {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 999px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subscribe input {
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 999px;
    outline: none;
    padding: 0 15px;
}

.subscribe button {
    background-color: #F05A46;
    color: white;
    border: 0;
    border-radius: 999px;
    width: 200px;
    height: 100%;
    font-weight: 600;
}

/* MEDIA QUERY FOR RESPONSIVENESS  */
@media only screen and (max-width: 768px) {
    .news-letter-section {
        padding: 0 10px;
    }

    .news-letter-container {
        padding: 18px;
    }

    .news-letter-title br {
        display: none;
    }
}