.sponsors-img {
   width: 120px !important; 
   height: 100%;
}

.sponsors-img img {
    width: 100%;
    height: 100%;
}

.property-types .slick-slide{
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
}

.property-types .slick-dots button{
    padding: 5px 10px;
}
